li, th, td {
	font-style: italic;
}

h1, h2 {
	font-family: 'Rock Salt', cursive;
}

a {
	font-family: monospace;
	text-decoration: none;
	font-weight: bold;
}

 a:hover {
	 color: yellow;
	 text-decoration: underline;
	 background-color: blue;
 }
 
 body {
		background-color: maroon;
		color: black;
}
			
#img {
		background: url("One-X.jpg") no-repeat center;
		height: 225px;
		width: 225px;
		alt: One-X;
		margin-left: auto;
		margin-right: auto;
}

#listing {
	text-align: center;
}
