header {
	background-color: #A80000; color: #CC6600;
	text-align: center;
}

footer {
	background-color: #CC6600; color: #A80000;
	position: fixed; bottom: 0; width:100%;
	text-align: center;
	height: 100px;
}

h1 {
	font-family: 'Rock Salt', cursive;
}

body {
	background-color: #F5CBA7;
	margin-bottom: 100px;
}

a {
	font-family: monospace;
	text-decoration: none;
	font-weight: none;
}

a:link {
	color: #FF9900;
}

a:visited {
	color: Blue;
}

a:hover {
	font-weight: bold;
	color: 
}

a:active {
	color: red;
}

.carousel01 {
	width: 100%;
	height: auto;
	padding: 50px;
}

.carousel02 {
	color: black;
	text-align: center;
}

#jsd {
	background-color: #FF9900;
	color: maroon;
}