.myButton {
	background-color: #c2c2c2;
	border: 1px solid #000000;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 15px 32px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #000000;
}
.myButton:hover {
	background-color: #ff0000;
}
.myButton:active {
	position: relative;
	top: 1px;
}
 #div1 {
	 display: block;
	 text-align: center;
	 margin: auto;
 }
 
#t1{
	background-color: WhiteSmoke;
	padding: 0 10px 20px 10px;
	margin: auto;
}
#t1 th, #t1 td {
	border: 1px solid white;
	margin: 0;
}
#div2 caption {
	background-color: WhiteSmoke;
	padding: 10px;
	font-weight: bold;
	text-decoration: underline;
	font-size: 150%;
}
#t1 th {
	background-color: LightGrey;
}
